<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-head"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">

    <div class="starter-template">
        <h1 th:text="#{payload.h1.txt}"></h1>
        <p class="lead" th:text="#{payload.lead.txt}"></p>
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: before-body-script"/>
</body>
</html>
